.header__volume {
  padding: 2px;
  background: var(--color-white);
  border-radius: 20px;
  width: 69px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  cursor: pointer;

  .header__volume__item {
    background: #000;
    border-radius: 50%;
    padding: 5px;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease;
  }

  &.on {
    align-items: start;

    .header__volume__item {
      transform: translateX(0);
    }
  }

  &.off {
    background: var(--color-orange);

    .header__volume__item {
      background: var(--color-white);
      transform: translateX(36px);
    }
  }
}
