.game {
  user-select: none;
}

.game__main {
  width: 100%;
  user-select: none;
}

.game__image {
  width: 100%;
  height: 380px;

  object-fit: cover;
  transition: all 0.2s ease;
}

.game__canvas {
  overflow: hidden;
  touch-action: none;
}

.game__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
  height: 100%;

  h1 {
    font-size: 28px;
    color: var(--color-orange);
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
  }

  p {
    margin-top: 10px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
  }
}

.game__main {
  padding: 10px;
  margin-top: 15px;
  border: 1px solid #2e2e2e;
  border-radius: 5px;

  img {
    border-radius: 5px;
    margin-top: 10px;
  }

  p {
    font-size: 24px;
  }
}

.game__wrapper {
  button {
    margin-top: 60px;
    width: 100%;
    padding: 15px;
    background: none;
    border-radius: 5px;
    border: 2px solid var(--color-white);
    font-size: 20px;
    color: var(--color-white);
    font-weight: 500;
    user-select: none;
  }
}

.game__img__container {
  width: 100%;
  height: 380px;
  object-fit: cover;
  overflow: hidden;
}

.svg {
  z-index: 9;
  position: absolute;
  overflow: visible;
}

.responsiveWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1; // сохраняем пропорции квадрата
}

circle {
  touch-action: none;
}
svg {
  touch-action: none;
}

.handle {
  touch-action: none; /* отключает жесты pinch/scroll */
  user-select: none; /* отключает выделение текста */
  -webkit-user-drag: none; /* отключает drag image в Safari */
  cursor: grab;
}
.handle:active {
  cursor: grabbing;
}
