.home__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;

  margin-bottom: 40px;

  a {
    margin-top: 50px;

    display: block;
    text-align: center;
    padding: 10px 30px;
    background: #0084ff;
    border-radius: 3px;
    width: 100%;
    color: var(--color-white);
  }
}
