.game__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 15px;

  h1 {
    font-size: 52px;
    color: var(--color-orange);
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;

    @media (max-width: 1024px) {
      font-size: 32px;
    }

    @media (max-width: 475px) {
      font-size: 24px;
    }
  }

  p {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    width: 55%;

    @media (max-width: 810px) {
      font-size: 20px;
      width: 100%;
    }

    @media (max-width: 520px) {
      font-size: 14px;
    }
  }

  @media (max-width: 520px) {
    gap: 5px;
  }
}

.game__main {
  width: 100%;
  padding: 15px;
  border: 1px solid #2c2c2c;
  margin-top: 15px;
  border-radius: 10px;

  p {
    font-size: 24px;

    @media (max-width: 520px) {
      font-size: 16px;
    }
  }

  .game__main__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin-top: 10px;
  }

  .card {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: fit-content;
    height: fit-content;

    &.active {
      position: relative;

      border-radius: 5px;

      img {
        border: 2px solid var(--color-orange);
      }

      &::before {
        content: "";
        position: absolute;

        width: 100%;
        height: 100%;

        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(175, 125, 44, 1) 200%
        );
        border-radius: 5px;
      }
    }
  }

  img {
    display: block;
    width: 100%; // картинка занимает всю ширину карточки
    aspect-ratio: 6 / 10; // прямоугольное соотношение (можно менять, например 16/9 или 4/5)
    object-fit: cover; // сохраняем заполнение
    border-radius: 5px;

    @media (max-width: 620px) {
      aspect-ratio: 1 / 2;
    }

    @media (max-width: 520px) {
      aspect-ratio: 1 / 1.5;
    }
  }
}

.game__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    background: none;
    text-transform: uppercase;
    border-radius: 5px;
    border: 2px solid var(--color-white);
    color: var(--color-white);
    font-size: 20px;
    font-weight: 500;

    transition: all 0.2s ease;

    &:hover {
      background: var(--color-white);
      color: #000;
    }

    @media (max-width: 520px) {
      font-size: 16px;
    }
  }
}

.task__popup {
  position: fixed;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.4);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 99;
}

.task__popup__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;
  padding: 20px;
  padding-bottom: 40px;
  width: 435px;

  background: #0a0a0a;
  border: 1px solid #666666;
  color: var(--color-white);

  position: relative;

  .task__popup__text__main {
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    font-weight: 500;
    color: var(--color-orange);
  }

  .task__popup__text {
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;

    @media (max-width: 455px) {
      font-size: 14px;
    }
  }

  .task__popup__close {
    position: absolute;

    right: 2%;
    top: 4%;

    width: 26px;
    height: 26px;

    background: none;

    &::before {
      content: "";
      position: absolute;

      left: 0;
      transform: rotate(45deg);

      width: 100%;
      height: 2px;

      background: #666666;
    }

    &::after {
      content: "";
      position: absolute;

      left: 0;
      transform: rotate(-45deg);

      width: 100%;
      height: 2px;

      background: #666666;
    }
  }

  .task__popup__check {
    padding: 15px;
    border-radius: 5px;

    background: none;
    width: 70%;

    border: 2px solid var(--color-white);

    color: var(--color-white);
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;

    transition: all 0.2s ease;

    &:hover {
      background: var(--color-white);
      color: #000;
    }

    @media (max-width: 455px) {
      font-size: 14px;
    }
  }

  @media (max-width: 455px) {
    width: 95%;
    padding: 10px;
    padding-bottom: 20px;
  }
}

.task__popup__success,
.task__popup__unsuccess {
  display: flex;
  align-items: center;
  gap: 5px;
  font-style: italic;
  font-size: 18px;
  font-weight: 500;

  @media (max-width: 455px) {
    font-size: 14px;
  }
}

.task__popup__unsuccess {
  color: #a6a9a6;
}

.task__popup__success {
  color: #1bdb65;
}

.task__popup__auth {
  background: #0073f4;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-white);
}

.task__popup__continue {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  background: none;
  text-transform: uppercase;
  border: 2px solid var(--color-white);
  color: var(--color-white);
  font-weight: 500;

  transition: all 0.2s ease;

  &:hover {
    background: var(--color-white);
    color: #000;
  }
}

.game__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 60%;

  @media (max-width: 720px) {
    width: 100%;
  }
}
