.test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.test__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.test__top {
  h1 {
    font-size: 48px;
    text-align: center;
    font-weight: 500;
    color: var(--color-orange);
    line-height: 100%;
  }

  & > p {
    text-align: center;
    font-size: 18px;
    margin-top: 25px;
  }
}

.test__img__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.test__img {
  padding: 10px;

  width: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid #2e2e2e;
  border-radius: 5px;

  gap: 10px;
  margin-top: 20px;

  img {
    width: 260px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
  }

  .test__img__top {
    width: 100%;
    display: flex;
    justify-content: space-between;

    p {
      font-size: 12px;

      &:last-child {
        color: #5e5e5e;
      }
    }
  }
}
