.head {
  margin-top: 40px;

  @media (max-width: 465px) {
    margin-top: 20px;
  }
}

.head__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (max-width: 465px) {
    gap: 30px;
  }
}

.head__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 54px;
    font-weight: 500;
    color: var(--color-orange);

    @media (max-width: 1020px) {
      font-size: 48px;
    }

    @media (max-width: 825px) {
      font-size: 42px;
    }

    @media (max-width: 520px) {
      font-size: 36px;
    }

    @media (max-width: 465px) {
      font-size: 32px;
    }
  }

  p {
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    color: #bbbbbb;

    @media (max-width: 1020px) {
      font-size: 20px;
    }

    @media (max-width: 825px) {
      font-size: 16px;
      line-height: 32px;
    }

    @media (max-width: 520px) {
      font-size: 14px;
      line-height: auto;
    }

    // @media (max-width: 465px) {
    //   font-size: 14px;
    //   line-height: 30px;
    // }
  }

  .head__text__desctop {
    @media (max-width: 425px) {
      display: none;
    }
  }

  .head__text__mobile {
    display: none;

    @media (max-width: 425px) {
      display: block;
    }

    @media (max-width: 355px) {
      font-size: 13px;
    }
  }
}

.head__auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  h4 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;

    @media (max-width: 1020px) {
      font-size: 18px;
    }

    @media (max-width: 825px) {
      font-size: 16px;
    }

    @media (max-width: 465px) {
      font-size: 14px;
    }
  }

  button {
    margin-top: 20px;
    background: #0073f4;
    width: 80%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;

    font-size: 18px;
    color: var(--color-white);
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    transition: all 0.2s ease;

    img {
      width: 30px;
      height: 30px;
    }

    &:hover {
      box-shadow: 0px 0px 15px rgba(0, 114, 244, 0.2);
    }

    @media (max-width: 825px) {
      padding: 15px;
      font-size: 16px;
    }

    @media (max-width: 465px) {
      font-size: 14px;
      margin-top: 10px;

      img {
        width: 25px;
        height: auto;
      }
    }
  }
}

.head__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
