@font-face {
  font-family: "Roboto-flex";
  src: local("../assets/fonts/RobotoFlex.ttf"),
    url("../assets/fonts/RobotoFlex.ttf") format("truetype");
}

@font-face {
  font-family: "JetBrains-Mono";
  src: local("../assets/fonts/JetBrainsMono.ttf"),
    url("../assets/fonts/JetBrainsMono.ttf") format("truetype");
}
